$orange: #efaf31;
$green: #28b62c;
$blue: #5bb7db;
$red: #ea4141;
$warning: $orange;
$danger: $red;
$primary: #f9b71c;
$success: $green;
$fullhd-enabled: false;

// $family-primary: "GravityBold";
// $family-secondary: "GravityBook";
// $family-sans-serif: "GravityLight";
